@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.6rem;

    @apply bg-primary-app text-gray-normal;

    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: default;

    background: linear-gradient(165deg, #ff8082, #65ceff);
    height: 100%;
  }
}
